pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, с 1999 года*/
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.chat{
    height: auto;
    width: 600px;
    background-color:#ebebe4;
}
.chat-container {
    word-break: break-all;
    overflow-y: auto;
    resize: none;
    height: 500px;

}
form {
    position: relative;
}
.inputs-container {

    height: 80px;
}
#user_message {
    resize: none;
    padding-top: 10px ;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 70px;
}
#send_button {
    border: none;
    height: 26px;
    width: 45px;
    position: absolute;
    bottom: 8px;
    right: 20px;
    background: #F15B42;
    cursor: pointer;
}
#send_button:disabled {
    cursor: auto;
}
.message {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
.message::after {
    content: "";
    clear: both;
    display: table;
}
.message img {
    float: left;
    max-width: 60px;
    width: 100%;

    margin-right: 20px;
    border-radius: 50%;
}
.message img.right {
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    float: right;
    margin-left: 20px;
    margin-right:0;
}
.time-right {
    float: right;
    color: #aaa;
}
.time-left {
    float: left;
    color: #999;
}
.darker {
    border-color: #ccc;
    background-color: #ddd;
}
.user-name{
    font-family: "Segoe UI", serif;
    font-weight: 400;
    font-size: 18px;
}
.message-text {
    font-family: "Segoe UI", serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 80px;
}
.message-answer {
    margin-left: auto;
}
